.time-card {
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 1fr;
  height: 7rem;
  border-radius: 9px;
  margin-top: 20px;
}
.time-card-icon-container {
  grid-column: 2/4;
}

.time-card-icon {
  max-width: 3rem;
  margin-right: 5px;
  padding: 0;
  overflow: hidden;
}

.time-card-information {
  position: relative;
  display: grid;
  grid-column: 1/4;
  grid-template-rows: 1fr 1fr;
  border-radius: 9px;
  margin-top: auto;
  background-color: #1c204b;
}

.card-title-container {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-title {
  text-align: start;
  font-weight: 900;
  margin-left: 20px;
}

.elipsis-image {
  justify-self: right;
  margin-right: 20px;
  max-width: 1rem;
}

.time-spent-container {
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: x-large;
  line-height: 0.5rem;
  font-weight: 300;
}

.hours {
  text-align: start;
  font-weight: 500;
  margin-left: 20px;
}

.previous-time {
  font-size: 12px;
  color: hsl(236, 100%, 87%);
}
