#root {
  text-align: center;
  display: flex;
  align-items: center;
}

.dashboard-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 900px;
  background-color: hsl(226, 43%, 10%);
}

.all-time-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  justify-content: center;
  row-gap: 2rem;
  width: 17rem;
  height: 100%;
}
